.myButton
    width: 227px
    height: 50px
    border: 1px solid #E9ECF2
    background: #FFF
    text-transform: capitalize
    border-radius: 6px
    font-weight: 700
    transition: .2s
    &.formBtn
        background: #81A0DE
        border: 0
        color: #fff
        &:hover
            &:not([disabled])
                background: #465778
    &:hover
        &:not([disabled])
            border: 0
            background: #dfe4ed
    &:disabled
        background: #B1BBD0
        color: #fff
    &.active
        background: #e2e4ea
